@charset "utf-8";

body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-image: url(Image/Fond-Ciel-Galaxie.jpg);
  background-color: rgb(3, 36, 73);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h2 {
  color: rgb(255, 255, 255);
  font-size: xx-large;
  font-family: math;
  font-weight: bold;
}

.boite {
  height: 1048px;
}

.btn {
  margin-top: 40px;
  width: 150px;
  height: 150px;
  border: 2px white;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background-image: url(Image/ironman-icon1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-box-shadow: 0px 0px 0px 3px rgb(255, 255, 255);
  -moz-box-shadow: 0px 0px 0px 3px rgb(255, 255, 255);
  box-shadow: 0px 0px 0px 3px rgb(255, 255, 255);
}

.btn1 {
  padding: 10px;
  margin-top: 200px;
  width: 300px;
  border: 2px solid #ffffff;
  color: white;
  font-family: monospace;
  font-weight: bold;
  font-size: x-large;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  background: #000000a9;
  text-decoration: none;
  flex-wrap: nowrap;
}

.btn2 {
  padding: 10px;
  margin-top: 20px;
  width: 300px;
  border: 2px solid #ffffff;
  color: white;
  font-family: monospace;
  font-weight: bold;
  font-size: x-large;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  background: #000000a9;
  text-decoration: none;
  flex-wrap: nowrap;
}

.img-fond {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.conteneur {
  justify-content: center;
  text-align: center;
  align-items: center;
  width: auto;
  overflow: auto;
}

.conteneur2 {
  margin-block: auto;
  border: 2px solid #00000000;
  text-align: center;
  align-items: center;
  width: auto;
  overflow: auto;
}

/*-Responsive bouton-*/
@media (min-width: 400px) {
  .btn {
    min-width: 150px;
    min-height: 150px;
  }
}

@media (min-width: 600px) {
  .btn {
    min-width: 200px;
    min-height: 200px;
  }
}

/*-Responsive bouton 1 & 2-*/
@media (min-width: 400px) {

  .btn1,
  .btn2 {
    min-width: 300px;

  }
}

@media (min-width: 500px) {

  .btn1,
  .btn2 {
    min-width: 350px;
  }
}

@media (min-width: 600px) {

  .btn1,
  .btn2 {
    min-width: 500px;
  }
}

/*-Responsive Boite-*/
@media (min-width: 400px) {
  .boite{
      min-height: 961px;
    }
  }
@media (min-width: 500px) {
.boite{
    min-height: 961px;
  }
}

@media (min-width: 600px) {
.boite{
    min-height: 969px;
  }
}

@media (min-width: 700px) {
  .boite{
      min-height: 961px;
    }
  }

.btn-class-name {
  --color: 255, 255, 255;
  border-radius: .5em;
  transition: .3s;
  background-color: rgba(var(--color), .2);
  color: rgb(var(--color));
  fill: rgb(var(--color));
  font-family: monospace;
  font-weight: bolder;
  font-size: x-large;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  cursor: pointer;
  border: 2px solid rgb(var(--color));
  box-shadow: 0 0 10px rgba(var(--color), .4);
  outline: none;
  display: flex;
  align-items: center;
  padding: .5em 1em;
  margin-top: 20px;
  margin-left: 20px;
}

.btn-class-name span {
  transform: scale(.8);
  transition: .3s;
}

.btn-class-name:hover span {
  transform: scale(1);
}

.btn-class-name svg {
  font-size: 0;
  transform: scale(0.5) translateX(0%) rotate(-180deg);
  transition: .3s;
  rotate: 180deg;
}

.btn-class-name:hover svg {
  font-size: 20px;
  transform: scale(1) translateX(20%) rotate(0deg);
}

.btn-class-name:active {
  transition: 0s;
  box-shadow: 0 0 0 5px rgb(var(--color));
}
.icon {
  margin-right: 10px;
}