@charset "utf-8";

body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-image: url(Image/33e858dd24fbef7eaf36c6a639f3708a.png);
  background-color: rgb(20, 20, 20);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

a {
  font-family: math;
  font-weight: bold;
}

p {
  color: white;
  font-family: math;
  font-weight: bold;
}

h2 {
  color: rgb(255, 255, 255);
  font-size: xx-large;
  font-family: math;
  font-weight: bold;
}

h4 {
  color: white;
  font-family: math;
  font-weight: bold;
}

.boite {
  height: 1048px;
}

.btn {
  margin-top: 40px;
  width: 150px;
  height: 150px;
  border: 2px white;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background-image: url(Image/1275722.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-box-shadow: 0px 0px 0px 3px rgb(255, 255, 255);
  -moz-box-shadow: 0px 0px 0px 3px rgb(255, 255, 255);
  box-shadow: 0px 0px 0px 3px rgb(255, 255, 255);
}

.btn1 {
  padding: 5px;
  margin-top: 200px;
  width: 300px;
  border: 2px solid #ffffff;
  color: white;
  font-family: monospace;
  font-weight: bold;
  font-size: x-large;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  background: #000000a9;
  text-decoration: none;
  flex-wrap: nowrap;
}

.btn2 {
  padding: 5px;
  margin-top: 20px;
  width: 300px;
  border: 2px solid #ffffff;
  color: white;
  font-family: monospace;
  font-weight: bold;
  font-size: x-large;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  background: #000000a9;
  text-decoration: none;
  flex-wrap: nowrap;
}

.img-fond {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.conteneur {
  justify-content: center;
  text-align: center;
  align-items: center;
  width: auto;
  overflow: auto;
}

.conteneur2 {
  margin-block: auto;
  text-align: center;
  align-items: center;
  width: auto;
  overflow: auto;
}

/*-Responsive bouton-*/
@media (min-width: 400px) {
  .btn {
    min-width: 150px;
    min-height: 150px;
  }
}

@media (min-width: 600px) {
  .btn {
    min-width: 200px;
    min-height: 200px;
  }
}

/*-Responsive bouton 1 & 2-*/
@media (min-width: 400px) {

  .btn1,
  .btn2 {
    min-width: 300px;

  }
}

@media (min-width: 500px) {

  .btn1,
  .btn2 {
    min-width: 390px;
  }
}

@media (min-width: 600px) {

  .btn1,
  .btn2 {
    min-width: 500px;
  }
}

.btn-class-name {
  --color: 255, 255, 255;
  border-radius: .5em;
  transition: .3s;
  background-color: rgba(var(--color), .2);
  color: rgb(var(--color));
  fill: rgb(var(--color));
  font-family: monospace;
  font-weight: bolder;
  font-size: x-large;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  cursor: pointer;
  border: 2px solid rgb(var(--color));
  box-shadow: 0 0 10px rgba(var(--color), .4);
  outline: none;
  display: flex;
  align-items: center;
  padding: .5em 1em;
  margin-top: 20px;
  margin-left: 20px;
}

.btn-class-name span {
  transform: scale(.8);
  transition: .3s;
}

.btn-class-name:hover span {
  transform: scale(1);
}

.btn-class-name svg {
  font-size: 0;
  transform: scale(0.5) translateX(0%) rotate(-180deg);
  transition: .3s;
  rotate: 180deg;
}

.btn-class-name:hover svg {
  font-size: 20px;
  transform: scale(1) translateX(20%) rotate(0deg);
}

.btn-class-name:active {
  transition: 0s;
  box-shadow: 0 0 0 5px rgb(var(--color));
}

.icon {
  margin-right: 10px;
}

.partage {
  height: 20px;
  width: 20px;
  border-radius: 30%;
  padding: 10px;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 20px;
  top: 20px;
  cursor: pointer;
  background: rgba(202, 202, 202, 0.49)
}

.btn-copier {
  padding: 10px;
  border-radius: 10px;
  border-color: white;
  color: white;
  font-size: small;
  font-family: math;
  font-weight: bold;
  cursor: pointer;
  background-color: rgb(23, 7, 44);
}
.menu {
  position: relative;
  display: inline-block;
}

.menu-content {
  display: inline-block;
  position: absolute;
  background-color: rgb(23, 7, 44);
  border-radius: 20px;
  width: 330px;
  box-shadow: 0px 1px 16px 1px rgb(255, 255, 255);
  padding: 10px;
  left: -74px;
  bottom: -430px;
}

.menu-content a {
  display: block;
  padding: 8px;
  text-decoration: none;
  color: #fff;
}

.menu-content a:hover {
  background-color: rgb(3, 62, 119);
  border-radius: 10px;
}



